<p> Homepage </p>
<p> hello my name is ben </p>

<%= link_to 'my resume', :controller => 'pages', :action => 'resume' %>
<%= link_to 'about me', :controller => 'pages', :action => 'about' %>

<%= link_to 'newblogpost', :controller => 'posts', :action => 'new' %>

		<!-- link_to 'View Transcript', 
    :controller => 'podcast', 
    :action => 'view_transcript', 
    :id => podcast %> -->
